.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template: 50px auto 40px / auto;
  font-family: Helvetica;
}

.App h1 {
  font-size: 4em;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: #4F8AA3;
  text-shadow: 1px 1px #000000;
}

.App-header {
  height: 100%;
  z-index: 1;
}

.App-body {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #AFE2F8;
  align-items: center;
}

.App-footer {
  height: 100%;
}

@media (max-width: 620px) {
  .App h1 {
    font-size: 3em;
  }
}

@media (max-width: 400px) {
  .App {
    grid-template: 50px auto 30px / auto
  }

  .App-body {
    background-color: white;
  }
}